/* Une version moins flashy */

.neon {
  font-family: Neonderthaw, cursive;
  color: white;
}

/* Violet */
.neon[color="violet"] {
  text-shadow:
    0 0 5px #FFEEFF,
    0 0 10px #AA00AA,
    0 0 20px #CC00CC,
    0 0 40px #AA00AA,
    0 0 60px #FFAAFF;
}

/* Rouge */
.neon[color="rouge"] {
  color: #FFEEEE;
  text-shadow:
    0 0 5px #FFEEEE,
    0 0 10px #AA0000,
    0 0 20px #CC0000,
    0 0 40px #AA0000,
    0 0 60px #FF5555;
}

/* Vert */
.neon[color="vert"] { 
  text-shadow:
    0 0 5px #EEFFEE,
    0 0 10px #00AA00,
    0 0 20px #00CC00,
    0 0 40px #00AA00,
    0 0 60px #55FF55;
}

/* Bleu */
.neon[color="bleu"] { 
  text-shadow:
    0 0 5px #EEEEFF,
    0 0 10px #00AAFF,
    0 0 20px #00FFFF,
    0 0 40px #0ff,
    0 0 60px #00AAFF;
}

/* Jaune */
.neon[color="jaune"] { 
  text-shadow:
    0 0 5px #FFFFE0,
    0 0 10px #FFDD00,
    0 0 20px #FFFF55,
    0 0 40px #FFDD00,
    0 0 60px #FFFFAA;
}

/* Orange */
.neon[color="orange"] { 
  text-shadow:
    0 0 5px #FFEEDD,
    0 0 10px #FF5500,
    0 0 20px #FF9900,
    0 0 40px #FF5500,
    0 0 60px #FFAA33;
}

/* Rose */
.neon[color="rose"] { 
  text-shadow:
    0 0 5px #FFD6F0,
    0 0 10px #FF00AA,
    0 0 20px #FF66CC,
    0 0 40px #FF00AA,
    0 0 60px #FF99DD;
}

/* Cyan */
.neon[color="cyan"] { 
  text-shadow:
    0 0 5px #D6FFFF,
    0 0 10px #00DDDD,
    0 0 20px #00FFFF,
    0 0 40px #00DDDD,
    0 0 60px #55FFFF;
}

/* Turquoise */
.neon[color="turquoise"] { 
  text-shadow:
    0 0 5px #CCFFFF,
    0 0 10px #30D0C0,
    0 0 20px #40E0D0,
    0 0 40px #30D0C0,
    0 0 60px #70E0D0;
}

/* Lime */
.neon[color="lime"] { 
  text-shadow:
    0 0 5px #EEFFEE,
    0 0 10px #9ACD32,
    0 0 20px #ADFF2F,
    0 0 40px #9ACD32,
    0 0 60px #CCFF55;
}

/* Magenta */
.neon[color="magenta"] { 
  text-shadow:
    0 0 5px #FFDDFF,
    0 0 10px #CC00CC,
    0 0 20px #FF00FF,
    0 0 40px #CC00CC,
    0 0 60px #FF66FF;
}

/* Blanc */
.neon[color="blanc"] { 
  text-shadow:
    0 0 5px #FFFFFF,
    0 0 10px #AAAAAA,
    0 0 20px #CCCCCC,
    0 0 40px #AAAAAA,
    0 0 60px #FFFFFF;
}
