 #photo_pro_full{
     
    background: url('../img/full_transp.png') no-repeat;
     
    background-size: cover; 
    background-position: center; 
    background-size: contain;
    
   
}


#monNom{
    font-size: 2.5em;
}

#titre{
    font-size: 1.5em;
}

#p_message_accueil{
    padding: 20px;
    font-size: 0.8em;
    width: 90%;
}

.menuItem{
     font-size: 24px;
}

.menu_selected{
    border: solid 2px var(--white);
    transition: right 2s;
}
 

#sec_Experience{
    display: flex;  
   
    gap: 1rem;   
    
   padding: 1rem;  
   
   
   height: 100vh;
}

  
.xp_item{  
    
    min-width: 25%;
    max-width: 45%;
    
}



#sec_Exp_container{
    display: flex;  
    flex-wrap: wrap; 
    gap: 1rem;   
         
    align-content: center;
   justify-content: center;
   
  
   height: 100%;
}



#sec_Form_container{
    display: flex;  
    flex-wrap: wrap; 
    gap: 1rem;   
         
    align-content: center;
   justify-content: center;
   
  
   height: 100%;
}



 /*
------------------------
    MENU A GAUCHE 
------------------------
*/

.ident_round{
    display: none;
}

.topsidemenu {
   

    flex-flow: row;
      
    width : 100vw; 
    height: 60px;
    
    background: transparent;
     
    opacity: 1;
    visibility: visible;
    
    transform: translateX(0);  /* Position initiale */
    transition: transform 0.25s ease;  /* Animation pour déplacer et rendre invisible */
    

}
  
#hamburger{
    display: none;
}

.xp_item{
    
    font-size: 1.2em;
}

#neonCourbe{
  z-index: 888;
  position: absolute;
  left: 50px;
  top: 80px;
   
  font-family: "Las Enter Personal Use Only";
  
  font-size: 2em;
  rotate: -22deg;
  
}
 