 
@font-face {
    font-family: "Pacifico";
    src: url("../font/Pacifico.ttf") format("truetype");
}
 

@font-face {
    font-family: "CascadiaCode";
    src: url("../font/CascadiaCode.woff2") format("woff2");
}





html, body {  
    user-select: none;
    margin: 0;
    height: fit-content;
    width: 100vw; 
    
    font-family: Arial, sans-serif;
    color: aliceblue;
    background-color:  black; /* Couleur de fond pour éviter le blanc */
   
}
 
 
 
.hide{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    /*display: none !important;*/
 
}



/* .container {
    max-width: 600px;
    margin: auto;
}
h1, h2, p {
    margin-bottom: 10px;
} */

.main{
    display: block;
}


.banner {
    height: 0px; /* Définir une hauteur pour le div */
    
    position: sticky;
    top: 0;
    
    box-sizing: border-box; 
    
    z-index: 10000;
    /* background-color: #012345;  */
    
    /* background: radial-gradient(circle, #2C015E, #012345); */
    

}
 

.menu_selected{
    border: solid 2px aliceblue;
    transition: right 2s;
}

 

section{
    display: flex;
    flex-direction: row; 
    align-items: center; /* Centre verticalement */
    
    font-size: 2em;
    color : aliceblue;
    margin: 0;
    height: 100vh;
    width: 100vw;
    
    
    background: red;
}

#sec_Accueil{ 
    background: radial-gradient(circle, #2C015E, #012345);
    
    font-family: Arial;
    font-style: italic bold;
    color: aliceblue;
   
    display: flex;
    flex-direction: column; 
    
    align-items: center; /* Centre verticalement */
    
    /*font-size: 2em; */
    
    
    margin: 0;
    height: 100vh; 
} 

.monNom{ 
    font-weight: normal;
    font-size: 3em;
    
}



#sec_Chimie{
    background: #452545;
    background: radial-gradient(circle, #650045, #452545);
}


#sec_Informatique{ 
    background: #151525;
    background: radial-gradient(circle, #351535, #151525);
   
    font-style: italic bold;
    color: aliceblue;
   
    display: flex;
    flex-direction: row; 
    align-items: center; /* Centre verticalement */
    
    font-size: 2em;
    
    
    margin: 0;
    height: 100vh;
} 

#sec_Informatique > #code_snippet{
    font-family: CascadiaCode;
    font-size : 0.7em;
    margin-left: 50px;
    font-style: normal;
    
    display: flex;
    position: relative;
    /* border: solid yellow; */
    
    left: 0;
}

#sec_Informatique>.diplome{
    position: relative;
    left: 1vw;
    top: -20vh
    
}



#userpict_main{
    /* border : solid pink; */
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    text-align: center;
     
    
    width: 75vw;
    height: 75vh;
    
    position: absolute;
    top: 15vh;
     
}

 
#userpict_large {
    background: url("../img/full_transp.png") no-repeat;
    background-size: 25vw auto; /* Redimensionner l'image en fonction de la hauteur */
    background-position: bottom right; /* Positionner l'image en bas à droite */
    
    height: 100vh; /* La hauteur est fixée à 100% de la hauteur de la fenêtre */
    width: 25vw; /* La largeur s'adapte à celle de l'image après le redimensionnement */
    position: absolute;
    right: 0;
    
    /* border: solid green; */
}


 








.menu{
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    
    position: relative;
    left: 100px;
    top : 20px;
   
    
    height: fit-content; 
    width: fit-content;
    margin-right: 20px;
    
    
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    
}

.menuItem{
    
    padding: 10px; 
    margin: 0;
 
    
    color: aliceblue; 
    
    cursor: pointer; 
    
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    
}


.menuItem:hover{
    
    /* border: solid red; */
    opacity: 0.5;
    scale: 105%;
}
 


.reseau{
    display: flex;
    flex-direction: row;
   
    
    position: absolute;
    right: 0;
    top : 20px;
    
   
    width: fit-content;
    margin-right: 50px;
    
    
    gap: 10px;
    
    
    transition: opacity 0.5s ease-in-out;
}

 
.reseau > *{   
    color: aliceblue;
    
    height: 50px;
    width: 50px;

   
    cursor : pointer;   
}

.reseau>*:hover{
    scale: 105%;
}


 
#userpict_textArrow { 
    display: flex;
    flex-flow: row;
    
    width: fit-content;
   
    /* border: solid red;  */
    text-align: center;
} 

#userpict_text { 
    /* border: solid green; */
    
    
    display: flex;
    flex-direction: row;
 
    align-items: center; /* Centre verticalement */
   
    
     white-space: nowrap; /* Empêche les éléments de se casser en plusieurs lignes */
   
     gap: 20px;
     
} 

#userpict_arrow { 
  align-self: flex-end;
  scale: 150%;
    
  rotate: 50deg;
  transform: scaleY(1) scaleX(0.5);
  position: relative;
    
  top: 5vh;
} 

#userpict_slider{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column; 
    text-align: left;
    width: fit-content;
   
    
    /* border: solid green; */
    
    transition: transform 0.25s ease, opacity 0.25s ease;
}



.slider_top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(61, 2, 110, 0.5)); /* Dégradé du bleu au rouge avec 50% de transparence */
    opacity: 0.5;
    order: 1;
    
}

.slider_mid{
    background: rgba(61, 2, 110, 0.25);
    order: 2;
    
}

.slider_bottom{
    background: linear-gradient(rgba(61, 2, 110, 0.5), rgba(0, 0, 0, 0)); /* Dégradé du bleu au rouge avec 50% de transparence */
    opacity: 0.5;
    order: 3;
    
}

.slider_hide{
    display: none;
} 



#sec_Formation{
    background: radial-gradient(circle, #550000, #000000);
    
    font-family: Arial;
    font-style: italic bold;
    color: aliceblue;
    
    align-items:baseline;
  
}
#sec_Contact{
    background: radial-gradient(circle, #2C015E, #012345);
    
    font-family: Arial;
    font-style: italic bold;
    color: aliceblue;
    
    align-items:baseline;
  
}

#mes_resaux{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 90px;
    margin-top: 130px; 
    
     
     
    font-family: Pacifico;
    font-style: italic;
    font-size: 1.5em;
    width: fit-content;
   
}

#mes_resaux > svg{ 
    width: 100px;
    translate: 10px -30px;
}





/* 
#reseau_items{ 
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-flow: row;
    
    align-items: center; 
}

#itemTest{ 
    background-color: red;
    width: 33vw;
    height: 60vh;
    margin-inline: 15px; 
} */

#sec_Atouts{ 
   
    background: radial-gradient(circle, #FFFF00, #FFA500);
    
   
    height: 100vh;
    position: bottom right; 
   
}

#logo_lang{
    background: url("../img/svg/lang.svg") no-repeat;
    background-size: 15vw auto; /* Redimensionner l'image en fonction de la hauteur */
    background-position: bottom right; /* Positionner l'image en bas à droite */
    transform: scaleX(-1);
    height: 100%; /* La hauteur est fixée à 100% de la hauteur de la fenêtre */
    width: 15vw; /* La largeur s'adapte à celle de l'image après le redimensionnement */
    position: absolute;
    left: 0;
    
}
 


#mon_cv{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 90px; 
    
    margin-top: 55vh;
     
     
    font-family: Pacifico;
    font-style: italic;
    font-size: 1.5em;
    width: fit-content;  
}

#mon_cv > #arrow{ 
    width: 100px;
    translate: 10px 30px;
    transform: scaleY(-1);
}

#big_reseau{
    display: flex;
    flex-flow: row;  
    
    height: 100vh;
    width: 100vw;
    
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    
    
    transition: opacity 0.5s ease-in-out;
    
}

#big_item{
    height: 30vh;  
    width: 30vh;  
    color: aliceblue; 
    margin: 30px;

    transition: opacity 0.5s ease-in-out;
    
    text-align: center;
    
    text-decoration: none; 
    text-transform: uppercase; /* Met le texte en majuscules */
    font-weight: bold;         /* Met le texte en gras */
   
     
    
    display: flex;
    flex-flow: column;
    gap: 1vh;
    
    cursor: pointer;
    
}

.cv{
    
    height: inherit;
    
    background: url("../img/svg/cv.svg") no-repeat;
    background-size: 30; /* Redimensionner l'image en fonction de la hauteur */ 
    background-position: center center; 
}

#big_item:hover{
    scale: 105%;
}


#message_copy{
   
    width: fit-content;
    position:  absolute;
    right: 1vw;
    background: rgba(128, 128, 128, 0.5);
    font-size: 2em;
    top: 15vh;
    padding-inline: 10px;
    
    transition: opacity 0.5s ease-in-out;
 
    border: solid aliceblue;
    border-radius: 25% ;
    
}
 

.footer{

    align-self: end; 
    
    /*background-color: orange;*/
    width: 100vw;
    height: fit-content;  
 
    justify-self: center; /* Centre horizontalement */
    text-align: center;
    
    padding: 5px;
    
    font-family: Arial;
    
    font-size: 0.5em;
    position:absolute;
     
}



.compet_list {
  list-style-type: none; 
  font-size: 0.75em;
}

.compet_item {
  /* Ajoute ici des styles pour les éléments de la liste */
  margin-bottom: 10px;   /* Exemple de marge entre les éléments de la liste */
}

 

#sec_Biologie{
    background: #254525;
    background: radial-gradient(circle, #154545, #254525);
    display: flex;
    flex-flow: row;
}

#sec_Biologie>.diplome{
    position: relative;
    left: 1vw;
    top: -20vh
    
}

.diplome{
    display: flex;
    flex-flow: column; 
   
    align-items: center;
    width: fit-content;
}

.diplome_icon{ 
    background: url("../img/svg/diplome.svg") no-repeat;
    background-size: 3em auto; /* Redimensionner l'image en fonction de la hauteur */
    background-position: center center; /* Positionner l'image en bas à droite */
    transform: scaleX(-1);
    height: 3em; /* La hauteur est fixée à 100% de la hauteur de la fenêtre */
    width: 3em; /* La largeur s'adapte à celle de l'image après le redimensionnement */   
}

.diplome_name{
    font-weight: bold;
}

.diplome_domain{
    font-style: italic;
    font-size: 0.75em;
    
}


#project_timeline{ 
    
    width: 100vw;
    height: fit-content;
 
    position: relative;
    top: 30%;
    
   
    display: grid;
    
    justify-items : center;
    align-items: center;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr;  /* 1 colonne */ 
}

.dot{
    height: 25px;
    width: 25px;

    background-color: aliceblue; 
    
    border-radius: 100%;
    margin: auto;
    margin-top: 5%;  
}

.progress{ 
    background-color: aliceblue;
    
    width: 55% ;
    height: 30px;
    
    grid-row: 2;
    grid-column: 1/-1; /* Occupe toutes les colonnes de la grille */
    grid-row: 3; /* Place l'élément sur la première ligne mais en le superposant */
    z-index: 1 ; /* Assure que cet élément est au-dessus des autres */
    position: absolute; /* Nécessaire pour que z-index prenne effet */
    left: 0;
    bottom: 0;
    
    border-radius: 20px; /* Ajustez cette valeur pour changer le rayon des coins */
    overflow: hidden; /* Empêche les éléments internes de dépasser les coins arrondis */
    
     
   
    
}


.lesDiplomes{
    width: 100vw;
    display: grid;
    
    justify-items : center;
    align-items: top;
    
    grid-template-columns: repeat(5, 1fr);
    font-size: 0.75em;
     
}



#hamburger{
    width: 50px;
    padding: 20px;
    
    cursor: pointer;
    
     
    display: none;
}









 
